HELP.md

# MAVEN
target/
!**/src/main/**/target/
!**/src/test/**/target/

# MAVEN WRAPPER
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NETBEANS
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# FRONTEND
frontend/node_modules/
frontend/dist/
node_modules/
dist/

# VARIABLES / SECRETOS
.env